mixin introItem(description, icon)
    li(class="intro__item " +icon)
        p.intro__text=description

mixin breadcrumbsItem(text,href)
    li.breadcrumbs__item
        if(href)
            a.breadcrumbs__link(href=href)=text
        else
            span.breadcrumbs__text=text
mixin overviewItem(name, info, icon)
    li.overview__item 
        span(data-icon="" +icon).overview__icon
        b.overview__info=info
        p.overview__name=name
mixin coursesItem(logo, position, name, price, duration, link)
    li.content__inner-item
        .content__inner-head 
            img(src="static/images/content/" +logo +".png" width="" height="" alt="").content__inner-img
            b.content__inner-position=position
            span.content__inner-name=name
        