- var priceAside = [{name: 'Прототип', description: 'Адаптация верстки под CMS, подготовка рабочего пространства с сайтом, работа с калькуляторами и прочее'}, {name: 'Дизайн (шаблонов страниц)', description: 'Адаптация верстки под CMS, подготовка рабочего пространства с сайтом, работа с калькуляторами и прочее'}, {name: 'Верстка (разрешений)', description: 'Адаптация верстки под CMS, подготовка рабочего пространства с сайтом, работа с калькуляторами и прочее'}, {name: 'Поддержка (мес.)', description: 'Адаптация верстки под CMS, подготовка рабочего пространства с сайтом, работа с калькуляторами и прочее'}, {name: 'CMS', description: 'Адаптация верстки под CMS, подготовка рабочего пространства с сайтом, работа с калькуляторами и прочее'}, {name: 'Сроки разработки (раб. дней)', description: ''}, {name: 'Минимальная стоимость (₽)', description: 'Адаптация верстки под CMS, подготовка рабочего пространства с сайтом, работа с калькуляторами и прочее'}]

- var priceItems = [{name: 'Лендинг', opt1: '+', opt2: '1', opt3: '4', opt4: '3', opt5: '1C-Битрикс', opt6: '30', opt7: '450 000'}, {name: 'Визитка', opt1: '+', opt2: '3', opt3: '3', opt4: '3', opt5: 'Wordpress', opt6: '30', opt7: '450 000'}, {name: 'Услуги (B2B)', opt1: '+', opt2: '7', opt3: '4', opt4: '6', opt5: '1C-Битрикс', opt6: '60', opt7: '450 000'}, {name: 'Интернет-магазин', opt1: '+', opt2: '12', opt3: '4', opt4: '6 ', opt5: '1C-Битрикс', opt6: '90', opt7: '950 000'}]

section.price
    h2.price__title.section-title Стоимость разработки сайта
    //- Дата
    .price__head
        span.price__head-date обновлено 
            time(datetime="19-04-2022") 19.04.2022
        span.price__head-note не является офертой
    //- Список видов работ
    .price__content
        ul.price__aside
            for i in priceAside
                li.price__aside-item
                    span.price__aside-name=i.name
                    button(type="button").price__aside-btn.js-tooltip-opener
                        svg.price__aside-image
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#question-btn")
                    .price__aside-popup
                        button(type="button").price__aside-popup-closer.js-tooltip-closer
                            svg.price__aside-popup-image
                                use(xlink:href="static/images/sprite/symbol/sprite.svg#green-cross")
                        p.price__aside-about=i.description
        ul.price__list
            for j in priceItems
                li.price__list-item
                    b.price__list-title=j.name
                    span.price__list-name=j.opt1
                    span.price__list-name=j.opt2
                    span.price__list-name=j.opt3
                    span.price__list-name=j.opt4
                    span.price__list-name=j.opt5
                    span.price__list-name=j.opt6
                    span.price__list-name=j.opt7
                    button(type="button").price__list-btn.js-fast-order Заказать
